@media (max-width: 480px){


.foodRecps
{
    height: auto;
}
.foodRecps .food-list
{
    padding-bottom: 6rem;
}
.foodRecps .food-list h1 
{
    font-size: 22px;
}
.foodRecps .food-list .food-recipes ul li 
{
    height: auto;
    width: 40%;   
}
.foodRecps .food-list .food-recipes ul li img 
{
    width: 80%;
}
.foodRecps .food-list .food-recipes ul li p
{
    font-size: 12px;
}
}

/*----------------370 SCREEN SIZEEE------------*/

@media (max-width: 370px){


.foodRecps
{
    height: auto;
}
.foodRecps .food-list
{
    padding-bottom: 6rem;
}
.foodRecps .food-list h1 
{
    font-size: 22px;
}
.foodRecps .food-list .food-recipes ul
{
    gap: 1rem;
}
.foodRecps .food-list .food-recipes ul li 
{
    height: 40vh;
    width: 40%;   
}
.foodRecps .food-list .food-recipes ul li img 
{
    width: 60%;
    height: 10vh;
}
.foodRecps .food-list .food-recipes ul li h2 
{
    font-size: 14px;
}
.foodRecps .food-list .food-recipes ul li p
{
    font-size: 10px;
}
}